
/* Your CSS Code here. */
table
{
	width:50%;
	border-collapse:
	collapse;
		margin-bottom:20px;
}
th, td 
{
	border:1px solid #ddd;
	padding:8px;
	text-align:center;
}
th
{
	background-color:lightred;
}
